<nav class="bg-django-primary text-white p-4 min-w-sm">
    <div class="flex items-center justify-between no-wrap">
        <div class="flex items-center gap-4">
            <a class="p-2 text-xl font-bold text-white whitespace-nowrap"
               href="{% url 'index' %}">Dry ORM</a>
            <div class="flex items-center gap-2">{{ links }}</div>
        </div>
        {{ center }}
        <div class="flex items-center space-x-2">
            <div id="loader"
                 class="w-8 h-8 border-4 border-django-secondary border-t-transparent rounded-full animate-spin hidden">
            </div>
            {{ right }}
        </div>
    </div>
</nav>
