<c-vars background="bg-white" classes="" open="true" />
<div class="{{classes}}" x-data="{ open: {{open}} }">
    <div class="group flex items-center justify-between p-4 border-b border-django-primary/10 cursor-pointer {{ background }}"
         @click="open = !open"
         {% if id %}data-section="{{ id }}"{% endif %}>
        <div class="flex items-center space-x-4">
            <div class="flex items-center gap-2">
                {{ icon }}
                <h5 class="font-bold text-django-text">{{ title }}</h5>
                {{ indicator }}
            </div>
            {{ note }}
        </div>
        {{ right }}
    </div>
    <div id="{{ id }}" class="flex flex-col border-b border-django-primary/10" x-show="open">{{ slot }}</div>
</div>
