{% load static %}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/codemirror.min.css">
    <title>Djanground</title>

    <style>
    .margin {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    </style>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin">
                <button class="btn btn-primary" id="run_button">Execute</button>
                <button class="btn btn-success">Save</button>
                <button class="btn btn-secondary">Fork</button>
                <button class="btn btn-secondary">Share</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <textarea id="code_models"></textarea>
            </div>
            <div class="col-md-6">
                <textarea id="code_transactions"></textarea>
            </div>
        </div>
        <div class="row margin">
            <div class="col-md-12">
                <p class="alert alert-primary" id="job"></p>
                <pre id="result"></pre>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/mode/python/python.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
