{% load static %}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/codemirror.min.css">
    <title>Djanground</title>

    <style>
    .push-top-bottom {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .card-body {
        padding: 1px 0px 0px 0px;
    }

    .card-header {
        padding-top: 0.3rem;
    }

    #output, #queries {
        padding-left: 5px;
    }

    .card-header {
        padding-left: 39px;
        margin-bottom: -1px;
    }
    </style>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 push-top-bottom">
                <button class="btn btn-primary btn-sm" id="run_button">Execute</button>
                <button class="btn btn-success btn-sm">Save</button>
                <button class="btn btn-secondary btn-sm">Fork</button>
                <button class="btn btn-secondary btn-sm">Share</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="code" aria-expanded="true">Code</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="output-tab" data-toggle="tab" href="#output" role="tab" aria-controls="output" aria-expanded="true">Output</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="queries-tab" data-toggle="tab" href="#queries" role="tab" aria-controls="queries">Queries</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" id="job"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="code" role="tabpanel" aria-labelledby="code-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <textarea id="code_models"></textarea>
                                    </div>
                                    <div class="col-md-6">
                                        <textarea id="code_transactions"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade push-top-bottom" id="output" role="tabpanel" aria-labelledby="output-tab">
                                <pre id="result_output"></pre>
                            </div>
                            <div class="tab-pane fade push-top-bottom" id="queries" role="tabpanel" aria-labelledby="queries-tab">
                                <ul class="list-group" id="result_queries"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/mode/python/python.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
