docker==7.1.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
mysqlclient==2.2.4

Django==5.2.5
django-extensions==4.1
autobahn==24.4.2
daphne==4.2.1
sentry-sdk[django]>=2.25.1
django-cotton==2.1.1
redis
httpx==0.28.1
