{% extends 'base.html' %}
{% block title %}Dry ORM - About{% endblock %}
{% block content %}
    <main class="px-6 py-2 max-w-4xl flex flex-col gap-4">
        <div class="space-y-4">
            <h2 class="py-4 text-xl font-semibold border-b"># Disclaimer</h2>
            <div>
                <p>Dry ORM is not associated with the Django Software Foundation.</p>
                <p>
                Django is a <a class="underline" href="https://www.djangoproject.com/trademarks/">registered trademark</a> of the <a class="underline" href="https://www.djangoproject.com/foundation/">Django Software Foundation</a>.
                </p>
            </div>
            <h2 class="py-4 text-xl font-semibold border-b"># Intro</h2>
            <p>DryORM allows you to run Django ORM code against suported Databases. The technologies used to power this webapp are:</p>
            <ul class="list-disc list-inside">
                <li>
                    <strong>Frameworks & Libraries:</strong> <a class="text-django-secondary" href="https://wwww.djangoproject.com">Django</a> / <a class="text-django-secondary"
    href="https://channels.readthedocs.io/en/latest/index.html">Channels</a> / <a class="text-django-secondary" href="https://python-rq.org/">Python RQ</a>
                </li>
                <li>
                    <strong>DB / Broker:</strong> SQLite / Postgres / MariaDB / Redis
                </li>
                <li>
                    <strong>Infra:</strong> Docker / Compose
                </li>
                <li>
                    <strong>Frontend:</strong> Django Templates / Tailwindcss (<strong>play.*</strong> for now) / AlpineJS / Vanilla JS
                </li>
            </ul>
            <p>
                The project is built primarily to provide <a class="text-django-secondary"
    href="https://discord.com/invite/xcRH6mN4fa">Django's Discord Community</a> Staff with a medium to assist users with their ORM questions rather quickly.
                The implementation is in fact framework-agnostic, however Django will remain the primary purpose for the foreseeable future.
            </p>
            <p>
                Since I'm not forcing anyone to login, there are several safeguards in place. Nevertheless, I urge you not to cause harm. The limitations are as follows:
            </p>
            <ul class="list-disc list-inside">
                <li>Rate limits</li>
                <li>10 concurrent executions</li>
                <li>10s timeout</li>
                <li>75MB limit</li>
                <li>No network</li>
            </ul>
            <p>Thank you to everyone that has helped test and provide feedback on the project, notably the awesome Django Discord Staff!</p>
            <p>
                <a class="font-bold text-django-secondary" href="https://xterm.info">Xterm</a>
            </p>
        </div>
        <div class="space-y-4 mt-4 whitespace-nowrap [&_*]:whitespace-inherit">
            <h2 class="py-4 border-b border-t text-xl font-semibold"># Changelog</h2>
            <div class="grid grid-cols-2 grid-cols-[max-content_min-content] w-fit gap-4">
                <div class="font-semibold">August 23th, 2025</div>
                <ul>
                    <li>Engine - upgrades django version to 5.2.5</li>
                </ul>
                <div class="font-semibold">August 14th, 2025</div>
                <ul>
                    <li>Engine & UI - adds experimental journeys feature 🎉</li>
                    <li>Engine - executor default app renamed to app</li>
                </ul>
                <div class="font-semibold">August 8th, 2025</div>
                <ul>
                    <li>UI - queries are not collapsed by default</li>
                </ul>
                <div class="font-semibold">July 3rd, 2025</div>
                <ul>
                    <li>Engine - adds support for /run as well as ?run</li>
                </ul>
                <div class="font-semibold">June 6th, 2025</div>
                <ul>
                    <li>UI - adds support for public feed live search</li>
                </ul>
                <div class="font-semibold">May 24th, 2025</div>
                <ul>
                    <li>UI - massive overhaul to the interface 🎉</li>
                </ul>
                <div class="font-semibold">May 16th, 2025</div>
                <ul>
                    <li>UI - smaller screen size improvements</li>
                    <li>UI - makes both columns scrollable</li>
                </ul>
                <div class="font-semibold">May 15th, 2025</div>
                <ul>
                    <li>Engine - now sends the DDL from migrations 🎉</li>
                    <li>UI - adds filter counts</li>
                    <li>UI - browse page is now slimmer</li>
                </ul>
                <div class="font-semibold">May 13th, 2025</div>
                <ul>
                    <li>Engine & UI - added experimental template rendering 🎉 <a class="text-django-secondary underline" href="/template-render?run">(Example)</a></li>
                    <li>UI - resets url token if template is changes</li>
                </ul>
                <div class="font-semibold">May 12th, 2025</div>
                <ul>
                    <li>UI - adds query filters 🎉</li>
                    <li>UI - returned tables are now collapsed by default</li>
                </ul>
                <div class="font-semibold">May 11th, 2025</div>
                <ul>
                    <li>Engine - now supports postgres 🎉 <a class="text-django-secondary underline" href="/example-postgres?run">(Example)</a></li>
                    <li>Engine - now supports mariadb 🎉</li>
                    <li>Engine - can now ignore cache on demand 🎉</li>
                </ul>
                <div class="font-semibold">May 10th, 2025</div>
                <ul>
                    <li>Engine &amp; UI - generates a model relationship diagram 🎉 <a class="text-django-secondary underline" href="/comprehensive?run">(Example, click the graph icon in queries)</a></li>
                </ul>
                <div class="font-semibold">May 9th, 2025</div>
                <ul>
                    <li>UI - adds autorun support 🎉 <a class="text-django-secondary underline" href="/?run">(Example)</a></li>
                    <li>UI - Cmd+Enter and Ctrl+Enter now run the code 🎉</li>
                    <li>UI - rendered tables are now different color 🎉</li>
                    <li>UI - code editor gets focused by default and on template select 🎉</li>
                    <li>UI - adds output and queries copy to clipboard 🎉</li>
                    <li>UI - basic default template is now selected</li>
                    <li>UI - moved loader to code section title</li>
                    <li>UI - removed job indicator</li>
                    <li>UI - about page now has changelog</li>
                    <li>UI - about page is now standalone</li>
                </ul>
                <div class="font-semibold">May 8th, 2025</div>
                <ul>
                    <li>Engine - execution is now exponentially faster [more improvements planned] 🎉</li>
                    <li>Engine - result is now cached, driven by the code hash 🎉</li>
                    <li>Engine - increased concurrent workers to 10 🎉</li>
                    <li>Engine - upgraded executors to Django 5.2.1</li>
                    <li>UI - improved contrast on some elements</li>
                    <li>UI - queries are now more human readable</li>
                </ul>
                <div class="font-semibold">May 7th, 2025</div>
                <ul>
                    <li>UI - adds footer with disclaimer</li>
                    <li>UI - adds sql time per query</li>
                    <li>UI - highlight keywords in sql</li>
                    <li>UI - changes the code editor colors to match theme</li>
                </ul>
                <div class="font-semibold">May 6th, 2025</div>
                <div class="">Initial release</div>
            </div>
        </div>
    </main>
{% endblock %}
