{% load static %}
<!DOCTYPE html>
<html class="no-js h-full" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Dry ORM{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            'django': {
                                'primary': '#0C4B33',
                                'secondary': '#44B78B',
                                'tertiary': '#47bd90',
                                'bg': '#F8F8F8',
                                'text': '#333333'
                            }
                        }
                    }
                }
            }
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/codemirror.min.css">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
        <style>
            .CodeMirror { font-size: 1rem; overflow: auto; }
            .cm-string { color: #164 !important; font-weight: 500 !important;}
            .cm-number { color: #164 !important; }
            .cm-def { color: #0C4B33 !important; font-weight: bold; }
            .cm-keyword { color: #0C4B33 !important; font-weight: bold; }
            .cm-builtin { color: #0C4B33 !important;}
            .cm-comment { color: gray !important;}
        </style>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44612863-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-44612863-2');
        </script>
    </head>
    <body class="bg-django-bg h-full flex flex-col">
        <c-nav>
            <c-slot name="links">
                <a class="text-lg text-white hover:underline" href="{% url 'list' %}">Browse</a>
                /
                <a class="text-lg text-white hover:underline cursor-pointer" href="{% url 'about' %}">About</a>
            </c-slot>
            <c-slot name="center">
                {% block center-actions %}{% endblock %}
            </c-slot>
            <c-slot name="right">
                {% block right-actions %}{% endblock %}
            </c-slot>
        </c-nav>

        {% block content %}{% endblock %}

        <c-footer />
        <c-about />
    </body>
</html>
