{% extends 'base.html' %}

{% load static %}

{% block actions %}
<!-- Large Screens -->
<div class="hidden lg:flex items-center gap-2">
    <label class="items-center space-x-1">
        <span class="text-md text-white whitespace-nowrap">Private ?</span>
        <input type="checkbox" id="isPrivate" class="w-4 h-4 rounded-sm accent-django-primary border-2 border-django-secondary text-django-secondary focus:ring-django-secondary focus:ring-2">
    </label>
    <input type="text" id="name" placeholder="Name" class="flex bg-django-primary placeholder:text-white/80 text-white px-2 py-2 rounded-sm border border-django-tertiary focus:outline-none focus:border-django-secondary">
    <button class="flex items-center gap-1 bg-django-tertiary hover:bg-django-secondary text-black p-4 lg:p-2 rounded-sm font-medium" id="save">
        <c-icons.save />
        <span class="inline">Save</span>
    </button>
    <button class="flex items-center gap-1 bg-django-tertiary hover:bg-django-secondary disabled:opacity-40 text-black p-4 lg:p-2 rounded-sm disabled font-medium run">
        <c-icons.play />
        <span class="inline">Execute</span>
    </button>
</div>

<!-- Small Screens -->
<div class="flex lg:hidden items-center gap-2">
        <div class="w-8 h-8 border-4 border-django-secondary border-t-transparent rounded-full animate-spin hidden loader"></div>
    <button class="flex items-center gap-1 bg-django-tertiary hover:bg-django-secondary text-black p-4 lg:p-2 rounded-sm font-medium" id="save">
        <c-icons.save />
    </button>
    <button class="bg-django-tertiary hover:bg-django-secondary text-black p-4 lg:p-2 rounded-sm font-medium" id="save">
        <c-icons.cog />
    </button>
    <button class="flex items-center gap-1 bg-django-tertiary hover:bg-django-secondary disabled:opacity-40 text-black p-4 lg:p-2 rounded-sm disabled font-medium run">
        <c-icons.play />
    </button>
</div>
{% endblock %}

{% block mobile %}
<div class="flex lg:hidden items-center h-full bg-django-primary">
    <div class="flex items-center gap-2 text-lg h-full px-8 border-r border-r-django-text bg-django-tertiary hover:bg-django-secondary cursor-pointer" id="code-tab">
        <span class="font-semibold">Code</span>
    </div>
    <div class="flex items-center gap-2 text-lg text-white h-full px-8 hover:shadow cursor-pointer" id="result-tab">
        <span class="font-semibold">Result</span>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="main_grid" class="grid grid-cols-1 lg:grid-cols-2 gap-0.5 h-full">
    <div id="code_column" class="bg-white flex flex-col h-full overflow-hidden">
        <c-section title="Code" display="hidden lg:flex">
            <c-slot name="icon"><c-icons.code /></c-slot>
            <c-slot name="indicator">
                    <div class="w-6 h-6 border-4 border-django-secondary border-t-transparent rounded-full animate-spin hidden loader"></div>
            </c-slot>
            <c-slot name="right">
                <div class="flex flex-col items-start sm:flex-row items-start gap-2">
                    <!-- ignore cache -->
                    <div class="flex items-center gap-2">
                        <input type="checkbox" id="ignore_cache" class="w-4 h-4 rounded-sm accent-django-primary border-2 border-django-secondary text-django-secondary focus:ring-django-secondary focus:ring-2">
                        <label for="ignore_cache" class="text-md text-django-text whitespace-nowrap">no cache</label>
                    </div>
                    <select id="database-select" class="w-full px-2 rounded-sm border border-django-primary/50 focus:outline-none focus:border-django-secondary">
                        {% for key, database in databases.items %}
                        <option value="{{key}}" {% if object.database == key %}selected{% endif %}>{{database.description}}</option>
                        {% endfor %}
                    </select>

                    <select id="template-select" class="w-full px-2 rounded-sm border border-django-primary/50 focus:outline-none focus:border-django-secondary">
                        <option value="">Select a template</option>
                        {% for key, _ in templates.items %}
                        <option value="{{key}}">{{key}}</option>
                        {% endfor %}
                    </select>
                </div>
            </c-slot>
        </c-section>
        <div class="flex-1 overflow-auto">
            <textarea id="code_models">{% if object %}{{ object.code }}{% else %}{{first}}{% endif %}</textarea>
        </div>
    </div>
    <div id="right_column" class="bg-django-secondary/10 flex flex-col h-full overflow-auto hidden lg:flex">
        <c-section title="Output" id="output-section" background="bg-django-secondary/20">
            <c-slot name="icon"><c-icons.terminal /></c-slot>
            <c-slot name="indicator">
                <a href="#" class="text-django-text underline hidden" id="show-template">Show Template</a>
                <div class="flex items-center gap-2 copy-indicator">
                    <c-icons.clipboard-copy color="text-django-tertiary" />
                </div>
            </c-slot>
            <c-slot name="right">
                <c-icons.plus />
            </c-slot>
            <pre id="output" class="whitespace-pre-wrap p-3 text-django-text">No output.</pre>
        </c-section>

        <div id="returned-data" class="flex flex-col"></div>

        <c-section title="Queries" id="queries-section" background="bg-django-secondary/20">
            <c-slot name="icon"><c-icons.db /></c-slot>
            <c-slot name="indicator">
                <a href="#" class="text-django-text underline hidden" id="erd"><c-icons.erd color="text-django-tertiary" /></a>
                <div class="flex items-center gap-2 copy-indicator">
                    <c-icons.clipboard-copy color="text-django-tertiary" />
                </div>
            </c-slot>
            <c-slot name="right">
                <c-icons.plus />
            </c-slot>
            <div x-data="{
                         selectedTCL: false,
                         selectedDDL: false,
                         selectedSELECT: true,
                         selectedINSERT: true,
                         selectedUPDATE: true,
                         selectedDELETE: true,
                         selectedREVERSE: false
                         }"
                 id="query-filters"
                 class="flex justify-between items-center p-2 gap-2 bg-slate-200 border-b border-django-primary/20"
                 >
                 <div>
                     <a
                             href="#"
                             @click.prevent="selectedTCL = !selectedTCL"
                             :class="selectedTCL ? 'bg-django-primary/80 text-white' : 'text-django-text'"
                             class="font-medium text-django-text uppercase border border-slate-300 rounded-sm px-2"
                             ><span class="hidden md:inline">TCL</span><span class="md:hidden">TCL</span><span class="count" data-type="TCL"></span></a>
                     <a
                             href="#"
                             @click.prevent="selectedDDL = !selectedDDL"
                             :class="selectedDDL ? 'bg-django-primary/80 text-white' : 'text-django-text'"
                             class="font-medium text-django-text uppercase border border-slate-300 rounded-sm px-2"
                             ><span class="hidden md:inline">DDL</span><span class="md:hidden">DDL</span><span class="count" data-type="DDL"></span></a>

                     <a
                             href="#"
                             @click.prevent="selectedSELECT = !selectedSELECT"
                             :class="selectedSELECT ? 'bg-django-primary/80 text-white' : 'text-django-text'"
                             class="font-medium text-django-text uppercase border border-slate-300 rounded-sm px-2"
                             ><span class="hidden md:inline">SELECT</span><span class="md:hidden">S</span><span class="count" data-type="SELECT"></span></a>

                     <a
                             href="#"
                             @click.prevent="selectedINSERT = !selectedINSERT"
                             :class="selectedINSERT ? 'bg-django-primary/80 text-white' : 'text-django-text'"
                             class="font-medium text-django-text uppercase border border-slate-300 rounded-sm px-2"
                             ><span class="hidden md:inline">INSERT</span><span class="md:hidden">I</span><span class="count" data-type="INSERT"></span></a>

                     <a
                             href="#"
                             @click.prevent="selectedUPDATE = !selectedUPDATE"
                             :class="selectedUPDATE ? 'bg-django-primary/80 text-white' : 'text-django-text'"
                             class="font-medium text-django-text uppercase border border-slate-300 rounded-sm px-2"
                             ><span class="hidden md:inline">UPDATE</span><span class="md:hidden">U</span><span class="count" data-type="UPDATE"></span></a>

                     <a
                             href="#"
                             @click.prevent="selectedDELETE = !selectedDELETE"
                             :class="selectedDELETE ? 'bg-django-primary/80 text-white' : 'text-django-text'"
                             class="font-medium text-django-text uppercase border border-slate-300 rounded-sm px-2"
                             ><span class="hidden md:inline">DELETE</span><span class="md:hidden">D</span><span class="count" data-type="DELETE"></span></a>
                    <a
                            href="#"
                            @click.prevent="selectedREVERSE = !selectedREVERSE"
                            :class="selectedREVERSE ? 'bg-slate-500 text-white' : 'text-django-text'"
                            class="font-medium text-django-text uppercase border border-slate-300 rounded-sm px-2"
                            ><span class="hidden md:inline">REVERSE</span><span class="md:hidden">R</span></a>
                 </div>
                <span id="query-count" class="text-django-primary font-semibold text-sm"><span class="hidden md:inline">Queries</span><span class="md:hidden">Q</span> (<span id="query-count-number">0</span>)</span>
            </div>

            <pre id="queries" class="whitespace-pre-wrap p-2 text-django-text">No queries.</pre>
        </c-section>
    </div>
</div>

<template id="returned_data_template">
    <div class="collapsible-section" x-data="{ open: false }">
        <div class="p-4 bg-django-secondary/20 border-b border-django-primary/20 cursor-pointer flex items-center justify-between" data-section="returned-data-section" x-on:click="open = !open">
            <div class="flex items-center gap-2">
                <c-icons.grid />
                    <h3 class="font-bold text-django-text"></h3>
            </div>
            <c-icons.plus />
        </div>
        <div class="returned-data-section" x-show="open" open="false">
            <table class="border-b text-django-text font-mono">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</template>

{% csrf_token %}

<dialog id="html-dialog" class="w-[80%] h-[80%] p-0 border-0 rounded-xl overflow-hidden shadow-lg">
  <div class="flex justify-end items-center p-2 bg-django-primary border-b border-gray-300 rounded-sm font-semibold">
    <button 
      class="px-3 py-1 text-sm bg-django-tertiary text-gray-700"
      onclick="document.getElementById('html-dialog').close()">
      ✖ Close
    </button>
  </div>
  <iframe id="html-iframe" class="w-full h-[calc(100%-2.5rem)] border-0"></iframe>
</dialog>

{{ templates|json_script:'templates' }}
<script src="//unpkg.com/alpinejs" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/mode/python/python.min.js"></script>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
